@media screen and (max-width: 600px){

    #gameboard{
        max-width: 90%;
        gap: 5px;
    }
    
    .card{
        width: 80px;
        height: 80px;
        
    }

    .card-front, .card-back {
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
        backface-visibility: hidden;
    
    }

    img{
        max-width: 90%;
        max-height: 90%;
    }
    
    h2{
        font-size: 1rem;
        color: #00FF00;
        margin-bottom: 30px;
    }
    
    button{
        padding: 10px;
        background-color:#00FF00;
        border-radius: 10px;
        border-style: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
    }
}